body {
  margin: 0;
  background: linear-gradient(135deg, #2b5876, #4e4376);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid white;
  background: #111;
}
